<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer> 

    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\devlang\python\venv\newssitevenv\Scripts\python.exe|D:\devlang\python\venv\newssitevenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers> 

    <httpErrors errorMode="Detailed" /> 
  </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="wsgi.app" /> 
        <add key="PYTHONPATH" value="D:\website\inetpub\wwroot\newssite" /> 
    </appSettings> 
</configuration>
